/* CSS */
.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 4px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover:not(:disabled){
  filter:brightness(0.9);
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border .3s ease;
}

:root {

  --input-color: #99A3BA;
  --input-border: #CDD9ED;
  --input-background: #fff;
  --input-placeholder: #CBD1DC;

  --input-border-focus: #275EFE;

  --group-color: var(--input-color);
  --group-border: var(--input-border);
  --group-background: #EEF4FF;

  --group-color-focus: #fff;
  --group-border-focus: var(--input-border-focus);
  --group-background-focus: #678EFE;

}

.form-field {
  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border .3s ease;
  border-radius: 6px 0 0 6px;
}

.form-group {
  position: relative;
  display: flex;
  width: 100%;
}
.form-field {
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
  width: 1%;
  margin-top: 0;
  margin-bottom: 0;
  border-radius: 6px 0 0 6px;
}

.form-group > span {
  text-align: center;
  vertical-align: middle; /* Change 'center' to 'middle' for vertical alignment */
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: var(--group-color);
  background: var(--group-background);
  border: 1px solid var(--group-border);
  transition: background .3s ease, border .3s ease, color .3s ease;
  border-radius: 0 6px 6px 0;
}

.form-group:focus-within > span {
  color: var(--group-color-focus);
  background: var(--group-background-focus);
  border-color: var(--group-border-focus);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

/* Define the styles for the toolbar */
.toolbar {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}
.toolbar button {
  display: inline-block; 
  text-align: center;
  vertical-align: middle;
  margin-right: 2px;
}

/* Last button doesn't have right margin */
.toolbar button:last-child {
  margin-right: 0;
}

.icon_small {
  width: 20px;
  height: 20px;
  vertical-align: middle; 
  margin-right: 10px;
  filter: invert(1);
}

.icon {
  width: 25px;
  height: 25px;
  vertical-align: middle; 
  margin-right: 10px;
  filter: invert(1);
}

/* Define a custom cursor for the "addWaypoints" mode */
.add-waypoints-cursor {
  cursor: crosshair; /* Replace 'path/to/waypoint-cursor.png' with your custom cursor image path */
}

h2 a {
  text-decoration: none;
}

#video-container {
  margin-top: 10px;
  width: 100%;
  max-width: 640px; /* Adjust the width as per your requirement */
  height: auto;
  overflow: hidden;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
}

#video-stream {
  width: 100%;
}

#consoleLog {
  font-family: monospace;
  height: 300px;
  width: 100%;
  padding: 10px;
  overflow-y: auto;
  background-color: #000000;
  color: #FFFFFF;
}

.log-error {
  color: #FF0000;
}

.log-warn {
  color: #FFA500;
}

.log-info {
  color: #FFFFFF;
}

.log-success {
  color:#00cc11;
}